# Sets

In [1]:
a = {'mayank', 'hi', 34}

In [2]:
a # the structure is same of dict but there is no keys and values

{34, 'hi', 'mayank'}

In [3]:
type(a)

set

In [4]:
a[0] # it aint structured and it does not have any kind of indexing

TypeError: 'set' object is not subscriptable

In [6]:
a['hi'] # still it wont work because it does not have any value

TypeError: 'set' object is not subscriptable

In [7]:
'hi' in a # this will yeild the results

True

In [10]:
34 in a # this method will yeild results

True

In [12]:
for i in a:
    print(i) # here in the answer we can see that there is no neccesary order for it

mayank
34
hi

In [14]:
len(a) # access the data's length

3

## Addition and Update data

In [18]:
a.add('me') # this can be used the data

In [19]:
a

{34, 'hi', 'mayank', 'me'}

In [20]:
b = {'me', 34, 54}

In [21]:
a.update(b)

In [23]:
a # here we can see that we can use this to add set in a set

{34, 54, 'hi', 'mayank', 'me'}

## Delete Data

In [25]:
a.remove(34)

In [26]:
a

{54, 'hi', 'mayank', 'me'}

In [27]:
a.remove(a) # error

KeyError: {'mayank', 54, 'me', 'hi'}

In [32]:
a.discard(32) # this does not shows any error

In [33]:
a

{54, 'hi', 'mayank', 'me'}

In [36]:
a.pop() # randomly removes any kind of data

54

In [37]:
a

{'hi', 'me'}

# fUNCTIONS OF THE SETS

In [64]:
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}

In [41]:
a.intersection(b) # this will give us the intersection between 2 sets

{4, 5, 6}

In [42]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [44]:
a.difference(b)

{1, 2, 3}

In [45]:
b.difference(a)

{7, 8, 9}

In [47]:
a.symmetric_difference(b) # the elements which is not common in a and b

{1, 2, 3, 7, 8, 9}

In [48]:
a.intersection_update(b)

In [49]:
a # here the intersection in a

{4, 5, 6}

In [51]:
a.difference_update(b)

In [52]:
a # here the difference has become the a

{1, 2, 3}

In [54]:
a.symmetric_difference_update(b)

In [56]:
a # here symmetric_difference is a

{1, 2, 3, 7, 8, 9}

In [58]:
a.union_update(b) # this does not work

AttributeError: 'set' object has no attribute 'union_update'

In [65]:
a.issubset(b) # checks the subset

False

In [66]:
c = {4,5}

In [67]:
a.issubset(c)

False

In [69]:
c.issubset(a) # here we use this function to check wheater the function is a subset or not

True

In [72]:
a.issuperset(c) # here we use it to check that is it a superset or not !

True

In [75]:
a.isdisjoint(a)

False

In [76]:
m = {9,8}

In [78]:
a.isdisjoint(m) # here this is not a disjoint

True