In [1]:
li = [1,2,3,4]
# i want a list of square of each element of the particular list

In [3]:
li_new = [] # this is the code we need to write to make the li_new as the sqaure of each element of the list
for i in li:
    li_new.append(i**2)
print(li_new)

[1, 4, 9, 16]

### Power of list comprehension

In [5]:
li_comp = [i**2 for i in li_new] # here i have done the list compehension of the li_new list

In [6]:
li_comp

[1, 16, 81, 256]

In [11]:
li_e = [i**2 for i in li if i%2==0] # here i am using the conditions in the loop

In [8]:
li_o = [i**2 for i in li if i%3==0]

In [12]:
li_e

[4, 16]

In [10]:
li_o

[9]

In [13]:
li_1 = [1,2,3,4,5,6,7,8,9]

In [14]:
li_c_1 = [ele for ele in li_1 if ele%2==0 and ele%3 == 0]

In [15]:
li_c_1

[6]

### nested for loop

In [16]:
#### Traditional Method

In [19]:
li1 = [1,2,3,4,5]
li2 = [2,4,6,8,10]
li_new = []
for ele in li1:
    for ele_2 in li2:
        if ele == ele_2:
            li_new.append(ele)

In [20]:
li_new

[2, 4]

In [21]:
#### List Comprehension method

In [22]:
li1 = [1,2,3,4,5]
li2 = [2,4,6,8,10]
li_inter = [ele for ele in li1 for ele2 in li2 if ele == ele2 ]

In [23]:
li_inter

[2, 4]

### If else statments

In [26]:
li3 = [1,2,3,4,5,6,7,8,9]
li4 = [ele**2 if ele%2==0 else ele for ele in li] # here we will be squaring the numbers if they are even else square them

In [27]:
li4

[1, 4, 3, 16]