## Iterating on a 2d list

In [4]:
li = [[1,2,3,4],[1,2,3,4],[1,2,2,2]] # here m is 4 and n is 3

In [8]:
n = 3
m = 4

In [9]:
for i in range(n):
    for j in range(m):
        print(li[i][j], end=' ')
    print()

1 2 3 4
1 2 3 4
1 2 2 2

In [12]:
li = [[1,2,3,4],[5,6],[7,8,9]]
n = 3
for row in li:
    for ele in row:
        print(ele,end=' ')
    print()

1 2 3 4
5 6
7 8 9

### Join function

In [14]:
'abc'.join('abcd') # here we get aabc,babc,cabc,d

'aabcbabccabcd'

In [16]:
'ab'.join(['1','2','3'])

'1ab2ab3'

In [1]:
# using this concept we can make a new 2d list

In [4]:
l2 = [[1,1,1,1],[2,2,2,],[4,4,4]]
n =3 
for row in l2:
    output = ' '.join([str(ele) for ele in row]) # here we have used the list comprehension as well as the join function
    print(output)

1 1 1 1
2 2 2
4 4 4