### Functions in tuples

In [2]:
a = (1,2,3)
b = 4,5,6

In [11]:
# for loops
for i in a:
    print(i, end=' ')
print()

1 2 3

## Memebership in tuple

In [13]:
2 in a # since we can find 2 in a thus it is possible

True

In [15]:
2 in b

False