### Functions in tuples

In [2]:
a = (1,2,3)
b = 4,5,6

In [11]:
# for loops
for i in a:
    print(i, end=' ')
print()

1 2 3

## Memebership in tuple

In [13]:
2 in a # since we can find 2 in a thus it is possible

True

In [16]:
2 in b # since here we dont have 2 in b thus its not avaliable

False

### Length of tuple

In [29]:
len(a)

3

### Concatination of tuples

In [22]:
c = a + b

In [24]:
c ## here it has added all the elements in a and b and made this a concatination

(1, 2, 3, 4, 5, 6)

In [25]:
s = (a,b)

In [27]:
s ## here its a bit diffrent because here we are actually combining the 2 diffrent tuples

((1, 2, 3), (4, 5, 6))

### Repeat

In [31]:
m = a*4

In [41]:
m # here we have (1,2,3) four times

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

### Max and Min

In [35]:
max(m) # this gives that max number in m

3

In [37]:
max(c) # this is the max number in c

6

In [38]:
m1 = (1,2,'a', (1,2))

In [52]:
max(m1) # here we have this error beacuse tuple cant be compared if there are diff data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [43]:
m2 =7,45,4,6,57,54,35,6,257,5,67,23,5,45,45,4,54,6,57,68,78,69,67,86,72,562,34

In [44]:
max(m2)

562

In [45]:
min(m2)

4

### Converting a list to a tuple

In [47]:
li = [1,2,3,4,5,6]

In [49]:
tuple(li) # this is the basic way to convert li to tuple

(1, 2, 3, 4, 5, 6)

In [51]:
a = 1,2
b = (4,5)
d = (a,b) # here a nd b reffer to the tuples we habe intialized above
print(d[0])

(1, 2)